.admin,
.client,
.wait,
.result,
.broadcasttitle,
.listtitle {
    display: none;
}
.client,.admin {
	margin-top:50px;
}
.login,.wait {
	text-align: center;
}
.form {
	display: inline;
}
.question,.broadcast {
	width:100%;
}
.bg-info {
    margin-top: 10px;
    min-height: 30px;
    line-height: 30px;
    border-radius: 10px;
    padding: 0 10px;
    word-wrap: break-word;
}
.status {
    width: 20px;
    height: 20px;
    background-color: #c0c0c0;
    float: right;
    border-radius: 10px;
    margin-top: 3px;
}
.on {
    background-color: green;
}
.off {
    background-color: red;
}